<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Playlister</title>
  </head>
  <body>
    <h1>Playlister</h1>

    <div>
      <form action="javascript:artistSearch();">
        <input type="text" id="artistsearch"><br>
        <input type="submit"><br><br>

        <table>


        <tr><td><label for="acousticness">Acousticness</label><td>
        <input type="range" min="0" max="1" value=".5" step="0.01" id="acousticness" step="1" oninput="outputUpdate('acousticness_value', value)">
        <output for="acousticness" id="acousticness_value">0.5</output><br>

        <tr><td><label for="danceability">Danceability</label><td>
        <input type="range" min="0" max="1" value=".5" step="0.01" id="danceability" step="1" oninput="outputUpdate('danceability_value', value)">
        <output for="danceability" id="danceability_value">0.5</output><br>

        <tr><td><label for="energy">Energy</label><td>
        <input type="range" min="0" max="1" value=".5" step="0.01" id="energy" step="1" oninput="outputUpdate('energy_value', value)">
        <output for="energy" id="energy_value">0.5</output><br>

        <tr><td><label for="instrumentalness">Instrumentalness</label><td>
        <input type="range" min="0" max="1" value=".5" step="0.01" id="instrumentalness" step="1" oninput="outputUpdate('instrumentalness_value', value)">
        <output for="instrumentalness" id="instrumentalness_value">0.5</output><br>

        <tr><td><label for="liveness">Liveness</label><td>
        <input type="range" min="0" max="1" value=".5" step="0.01" id="liveness" step="1" oninput="outputUpdate('liveness_value', value)">
        <output for="liveness" id="liveness_value">0.5</output><br>

        <tr><td><label for="loudness">Loudness</label><td>
        <input type="range" min="0" max="1" value=".5" step="0.01" id="loudness" step="1" oninput="outputUpdate('loudness_value', value)">
        <output for="loudness" id="loudness_value">0.5</output><br>

        <tr><td><label for="loudness">Loudness</label><td>
        <input type="range" min="0" max="1" value=".5" step="0.01" id="loudness" step="1" oninput="outputUpdate('loudness_value', value)">
        <output for="loudness" id="loudness_value">0.5</output><br>

        <tr><td><label for="mode">Mode</label><td>
        <input type="radio" name="mode" value="1" checked> Major
        <input type="radio" name="mode" value="0"> Minor<br>

        <tr><td><label for="popularity">Popularity</label><td>
        <input type="range" min="0" max="100" value="50" step="1" id="popularity" step="1" oninput="outputUpdate('popularity_value', value)">
        <output for="popularity" id="popularity_value">50</output><br>

        <tr><td><label for="speechiness">Speechiness</label><td>
        <input type="range" min="0" max="1" value=".5" step="0.01" id="speechiness" step="1" oninput="outputUpdate('speechiness_value', value)">
        <output for="speechiness" id="speechiness_value">0.5</output><br>

        <tr><td><label for="valence">Valence</label><td>
        <input type="range" min="0" max="1" value=".5" step="0.01" id="valence" step="1" oninput="outputUpdate('valence_value', value)">
        <output for="valence" id="valence_value">0.5</output><br>

      </form>
    </div>
    <hr>
    <div id="artistchoices"></div>

    <div id="tracks"></div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>

<script>

function outputUpdate(id, val) {
	document.querySelector('#' + id).value = val;
}

// get options for seed artists based on a typed name:
function artistSearch() {
  //$.get( "/search?artist_name=" + $("#artistsearch").val(), {})
  $.get( "/search", {"artist_name": $("#artistsearch").val()})
  .done(function( data ) {
    results = "";
    for(var i=0, band; band=data[i]; i++){
      results += "<button onclick=\"getRecs('" + band.id + "')\">" + band.name + "</button><br>";
    }
    if(data.length == 0) results = "Sorry, no artists found.";
    $("#artistchoices").html(results);
  })
  .fail(function(err) {
    console.log("SOMETHING BROKE");
    console.log(err);
  });
}

// send the seed artist, get the recs:
function getRecs(id) {
  $.get("/recs", {"artist_id": id})
  .done(function( data ) {
    console.log("AHHHH");
    printRecs(data);
  });
}

// display recommendations
function printRecs(data) {
  results = "<ul>"
  for(var i=0, rec; rec=data[i]; i++){
      results += "<li>" + rec.artists[0].name + ", \"" + rec.name + "\""
  }
  if(data.length == 0) results="Sorry, no tracks found.";
  $("#tracks").html(results);
}


</script>
  </body>
</html>
